
  .restaurant-list {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .title {
    background-color: #333;
    color: #D8B4E2; 
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  h2 {
    margin: 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  th {
    background-color: #555;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  