<div class="restaurant-list">
  <div class="title">
    <h2>Restaurant</h2>
    <div >
      <button mat-raised-button class="filter-button" >
        <mat-icon>filter_list</mat-icon>
        Filter Elements
      </button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Stars</th>
        <th>Average Price($)</th>
        <th>Cuisine Type</th>
        <th>Delivery</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of restaurants | async; let odd=odd " >
       
          <td>{{ item.name }}</td>
          <td>{{ item.location }}</td>
          <td>{{ item.stars }}</td>
          <td>{{ item.averagePrice }}</td>
          <td>{{ item.cuisineType }}</td>
          <td>{{ item.delivery ? 'Yes' : 'No' }}</td>
          <td>
            
            <button mat-raised-button extended class="button button1" (click)="deleteRestaurant(item.name)">
              <mat-icon>delete</mat-icon>
              Delete</button>

            <button mat-raised-button extended class="button"
                    routerLink="/restaurantsform/{{item.name}}">
              <mat-icon>edit</mat-icon>
              Edit</button>
          </td>
        
      </tr>
    </tbody>
  </table>

  <app-paginator [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"
    (pageChanged)="onPageChange($event)"></app-paginator>
</div>
