.form-window {
    text-align: center;
  }
  
  .form-window h2 {
    font-size: 32px;
    color: #55286F; 
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    
  }

.form-window.form-container {
    background-color: #D8B4E2;
    padding: 20px;
    max-width: 370px;
    margin: 0 auto;    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-window.form-container label {
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
    color: #333;
    text-align: center;
  }


.button {
    padding: 10px 20px;
    background-color: #55286F;
    color: white;
    font-size: large;
    border: none;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    min-width: 130px;

    &:hover {
        background-color: #210B2C;
    }
  }

.button.button1 {
    background-color: red;
    &:hover {
        background-color: #210B2C;
    }

}
  