.form-window {
    text-align: center;
  }
  
  .form-window h2 {
    font-size:large;
    color: #6A040F; 
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    
  }

.form-window.form-container {
    background-color: #FFBA08;
    padding: 20px;
    max-width: 390px;
    margin: 0 auto;    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-window.form-container label {
    display: block;
    font-size: large;
    margin-bottom: 12px;
    color: #333;
    text-align: center;
  }


.button {
    padding: 10px 20px;
    background-color: #F48C06;
    color: white;
    font-size: large;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    min-width:130px;


    &:hover {
        background-color: #E85D04;
    }
  }

.button.button1 {
    background-color: #D00000;
    &:hover {
        background-color: #9D0208;
    }

}
  