
<div class="form-window     display: flex;
justify-content: center;
align-items: center;">
    <h2>Restaurant Form</h2>
    <form (ngSubmit)="submitForm()">
      <label>
        First Name:
        <input type="text" [(ngModel)]="firstName" name="firstName" required>
      </label>
      <br>
      <label>
        Last Name:
        <input type="text" [(ngModel)]="lastName" name="lastName" required>
      </label>
      <br>
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
